@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
     box-sizing: border-box;
     margin: 0 ;
     padding: 0;
}

body{
     font-family: "Merriweather", serif;
}

/* header style starts here */

.banner-container{
     max-width: 1320px;
     min-height: 600px;
     margin: 0 auto;
     background-image: url("images/Banner\ Image.png");
     background-position: center;
     background-repeat: no-repeat;
     background-color: rgba(0, 0,0,0.5);
     border-radius: 15px;
     background-blend-mode: overlay;
}

.banner-content{
     display: flex;
     justify-content: center;
     flex-direction: column;
     height: 600px;
     align-items: center;
     color: white;
     text-align: center;
}
.banner-content p{
     font-size: 32px;
font-weight: 400;
margin-bottom: 16px;
}
.banner-content h1{
     font-size: 72px;
     font-weight: 900;
}